<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>Grungr Faust-based drive pedal emulation</string>
			<key>factoryFunction</key>
			<string>Grungr_Factory</string>
			<key>manufacturer</key>
			<string>CLPH</string>
			<key>name</key>
			<string>cloph: Grungr</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>GRNR</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>65536</integer>
		</dict>
	</array>
	<key>AudioUnit Version</key>
	<string>0x00020600</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Grungr</string>
	<key>CFBundleGetInfoString</key>
	<string>Grungr v2.7.0 Copyright 2026 cloph</string>
	<key>CFBundleIdentifier</key>
	<string>com.cloph.audiounit.Grungr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Grungr</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.0</string>
	<key>CFBundleSignature</key>
	<string>GRNR</string>
	<key>CFBundleVersion</key>
	<string>2.6.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.13.0</string>
	<key>NSPrincipalClass</key>
	<string>Grungr_View</string>
</dict>
</plist>
